* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.html {
  position: relative;
  justify-content: center;
}
body {
  margin: 0 auto;
  width: 1440px;
  font-family: "Poppins", sans-serif;
  background-color: var(-background-color);
}
:root {
  -primary-color: #b00000 -background-color #ffffff;
}

.navbar {
  width: 100%;
  padding-top: 42px;
  padding-right: 100px;
  padding-left: 74px;
  display: flex;
  justify-content: space-between;
  column-gap: 170px;
  margin-bottom: 89px;
}
.logo1 {
  width: 101px;
  height: 68px;
}
.tillte {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% / 3);
  font-weight: 600;
  font-size: 15px;
  line-height: 23px;
  color: #000000;
}

.title.tillte-1 {
  display: flex;
  column-gap: 74px;
  border-bottom: 2px solid #e5e5e5;
}

.tillte.tillte-2 {
  display: flex;
  justify-content: space-between;
}
.tillte.tillte-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tillte3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.t3 {
  padding-right: 43px;
  border-right: 2px solid #c4c4c4;
}
.logo2 {
  width: 18px;
  height: 18px;
}
.super-hero {
  position: relative;
  width: 100%;
  display: flex;
  padding: 0 100px 0 74px;
  column-gap: 84px;
  margin-bottom: 78px;
}
.hero {
  width: 50%;
}
.hero-services {
  display: flex;
  justify-content: space-between;
  column-gap: 24px;
  width: 270px;
  height: 27px;
  margin-bottom: 30px;
  line-height: 25px;
  border-bottom: 2px solid #e5e5e5;
}
.hero-tillte {
  font-size: 32px;
  font-weight: 700;
  color: #2e2e2e;
  margin-bottom: 34px;
}
.hero-info {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  left: 5%;
  margin-bottom: 60px;
}
.logo3 {
  width: 100%;
}
.hero-choose {
  position: absolute;
  margin-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}
.but {
  cursor: pointer;
  width: 166px;
  height: 48px;
  padding: 12px;
  border-radius: 8px;
}
.but1 {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  background-color: #b00000;
  box-shadow: 0px 0px 64px rgba(176, 0, 0, 0.3);
}
.but2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
  padding: 12px;
}
.but:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}
.web {
  display: flex;
  justify-content: space-between;
  margin-left: 74px;
  margin-bottom: 133px;
}
.web-hosting {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.web-hosting h2 {
  font-size: 48px;
  font-weight: 800;
  line-height: 64px;
  margin-bottom: 32px;
}
.web-hosting p {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
}
.branchs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 50%;
  align-items: center;
}
.branch {
  width: calc(100% / 3);
}
.branch.branch1 img {
  width: 140px;
  height: 30px;
}
.branch.branch2 img {
  width: 125px;
  height: 50px;
}
.branch.branch3 img {
  width: 125px;
  height: 54px;
}
.branch.branch4 img {
  width: 172px;
  height: 92px;
}
.branch.branch5 img {
  width: 168px;
  height: 56px;
}
.branch.branch6 img {
  width: 143px;
  height: 47px;
}
.benefit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 0 134px 133px 118px;
}
.be1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.be-img {
  padding-top: 40px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
  background-color: rgba(176, 0, 0, 0.15);
}
.be-img i {
  scale: 2;
  color: #b00000;
}
nefit.be1 h4 {
  height: 30px;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}
.benefit.be1.p {
  height: 72px;
  font: 300;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}
.lemon {
  display: flex;
  flex-direction: column;
  margin: 0 373px 82px 211px;
}

.lemon h2 {
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
  color: #000000;
  margin-bottom: 38px;
  text-align: center;
}
.lemon p {
  font-weight: 400;
  font-size: 25px;
  line-height: 25px;
  color: #000000;
  margin-bottom: 67px;
  text-align: center;
}
.date {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
  margin-left: 60px;
}
.mo {
  position: relative;
  width: 93px;
  height: 50px;
  background-color: #b00000;
  border-radius: 73px;
}
.mo-1 {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffffff;
  margin-left: 9px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.ye {
  width: 87px;
  height: 24px;
  border-radius: 8px;
  background-color: #ffe87a;
  position: relative;
}
.ye-1 {
  position: absolute;
  font-weight: 500;
  font-size: 10px;
  line-height: 9px;
  text-align: center;
  margin-top: 7px;
  margin-bottom: 7px;
  margin-left: 8px;
}
.ba-pre {
  display: flex;
  font-size: 30px;
  font-weight: 600;
  justify-content: space-around;
  line-height: 40px;
}
.cha {
  position: relative;
  background-color: #c4c4c4;
  height: 4px;
}
.con {
  position: absolute;
  width: 50%;
  height: 4px;
  background-color: #b00000;
  margin-left: 0;
}
.prices {
  display: flex;
  justify-content: space-between;
  column-gap: 100px;
  margin: 0 211px 105px 132px;
}
.pricing {
  display: flex;
  flex-direction: column;
  border: 1.5px solid #c4c4c4;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 34px 29px 48px 34px;
}
.pri-tillte {
  margin-bottom: 28px;
}
.pri-tillte h4 {
  font-weight: 600;
  font-size: 28px;
  line-height: 25px;
  margin-bottom: 11px;
}
.pri-tillte p {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}
.price {
  margin-bottom: 35px;
}
.price h3 {
  font-weight: 600;
  font-size: 42px;
  line-height: 32px;
  margin-bottom: 11px;
}
.price p {
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
}
.choose-plan {
  margin-bottom: 35px;
  font-weight: 600;
  font-size: 14px;
  line-height: 32px;
  background-color: #ffffff;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  height: 50px;
  text-align: center;
  padding-top: 9px;
  padding-bottom: 9px;
  border: 2px solid #000000;
}
.pice-list .li {
  display: flex;
  flex-direction: column;
  row-gap: 27px;
  list-style: none;
}
.pice-list.li.bb div {
  display: flex;
  column-gap: 27px;
}
.liz img {
  width: 17px;
  height: 12px;
}
.stories {
  position: relative;
  left: 206px;
  right: 219px;
  margin-bottom: 25px;
}
.stories img {
  position: relative;
  top: 0;
  left: 0;
  height: 120px;
  width: 143px;
  opacity: 0.3;
}

.stories-tillte {
  position: absolute;
  height: 168px;
  width: 445px;
  top: 56px;
  left: 95px;
}
.stories-tillte h2 {
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
}
.stories-tillte p {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
}
.po-1 {
  position: absolute;
  width: 350px;
  height: 468px;
  background-color: #ffffff;
  box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
  border-radius: 8px;
  top: 248px;
  left: 190px;
}
.po-1 img {
  position: absolute;
  width: 120px;
  height: 120px;
  top: 7px;
  left: 64px;
  opacity: 1;
}
.story-1 {
  position: absolute;
  top: 104px;
  right: 32px;
  bottom: 96px;
}
.ccc img {
  width: 16px;
  height: 14px;
  left: 32px;
  top: 104px;
}
.story-1-1 {
  width: 254px;
}
.story-1-1 p {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 24px;
}
.story-1-1 div h5 {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
}
.story-1-1 div p {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #969bab;
}
.po-2 {
  position: absolute;
  width: 445px;
  height: 340px;
  background-color: #ffffff;
  box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
  border-radius: 8px;
  top: 104px;
  left: 570px;
}
.po-2 img {
  position: absolute;
  width: 79px;
  height: 50px;
  top: 39px;
  left: 64px;
  opacity: 1;
}

.ccb img {
  position: absolute;
  width: 16px;
  height: 14px;
  left: 32px;
  top: 104px;
}
.story-2 {
  position: absolute;
  top: 104px;
  left: 64px;
  width: 349px;
  bottom: 14px;
}
.story-2-1 div h5 {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  margin-top: 24px;
}
.story-2-1 div p {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #969bab;
}
.po-3 {
  position: absolute;
  width: 350px;
  height: 276px;
  background-color: #ffffff;
  box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
  border-radius: 8px;
  top: 476px;
  left: 570px;
}
.po-3 img {
  position: absolute;
  width: 120px;
  height: 63px;
  top: 41px;
  left: 55px;
  opacity: 1;
}
.cca img {
  position: absolute;
  width: 16px;
  height: 14px;
  left: 32px;
  top: 104px;
}
.story-3 {
  position: absolute;
  top: 104px;
  left: 64px;
  width: 349px;
  bottom: 32px;
}
.story-3-1 div h5 {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  margin-top: 24px;
}
.story-3-1 div p {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #969bab;
}
.story-3-1 p {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
}
.serve {
  margin-top: 700px;
  display: flex;
  justify-content: space-between;
  column-gap: 259px;
  margin-left: 132px;
  width: 1194px;
}
.img-web {
  display: flex;
  flex-wrap: wrap;
  column-gap: 45px;
}

.serve div img {
  height: 120px;
  width: 120px;
}
.serve div h2 {
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  margin-bottom: 8px;
}
.serve div p {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
}
.awesome {
  position: absolute;
  margin: 127px 93px 110px 75px;
}
.awesome img {
  width: 1272px;
  height: 392px;
  margin-bottom: 110px;
}
.website-awesome {
  position: absolute;
  top: 0;
  margin-left: 15px;
  margin-right: 25px;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 88px;
  height: 432px;
  border-radius: 16px;
  background-color: #f7fafe;
  z-index: -1;
}
.website-awesome h2 {
  font-weight: 600;
  font-size: 64px;
  line-height: 88px;
  margin-bottom: 40px;
}

.Get-in-touch {
  position: absolute;
  width: 208px;
  height: 48px;
  background: #b00000;
  border-radius: 8px;
  left: 501px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px 0;
}
.Get-in-touch img {
  margin-bottom: 0px;
  width: 22px;
  height: 22px;
}
.Get-in-touch p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}
.footer {
  position: absolute;
  top: 4750px;
  width: 1440px;
  height: 536px;
  background-color: #b00000;
  padding: 64px 115px 80px 104px;
  color: #e5e5e5;
}
.footer-1 {
  display: flex;
  justify-content: space-between;
  column-gap: 50px;
  margin-bottom: 96px;
}
.zzz {
  align-items: center;
}
.footer-2-1 {
  width: 296px;
}
.footer-2 img {
  width: 121px;
  height: 80px;
}
.footer-2 p {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}
.footer-2 h5 {
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
}

.footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}
.footer-2-2 {
  padding-top: 30px;
}
.footer-2-2 p {
  line-height: 40px;
}
